<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--<listeners>-->
        <!--&lt;!&ndash;生成extent report&ndash;&gt;-->
        <!--<listener class-name="util.ExtentReportsListener" />-->
    <!--</listeners>-->
    <test verbose="2" preserve-order="true" name="C:/Users/herby/IdeaProjects/MobileTesting2">
    <classes>
        <class name="TestCase.TC01_AddNotes">
            <methods><include name="AddNotes"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>